@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* All Shared Styles code starts here */
/* All Shared Styles code starts here */
* {
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* All Shared Styles codes ends here */

/* styles related to nav */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.nav-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0px auto; */
    /* margin-left: 10px; */
    /* margin-left: 240px; */
}

.heading {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    padding-left: 20px;
}

.gamer-img {
    width: 86.041px;
    height: 40px;
    color: #FFFFFF;
    /* margin: 44px 20px 46px 240px; */
    /* margin-left: 80px; */
}

.nav-menus {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-menus-about {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 54px 20px;
}

.nav-menus-developers {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menus-icon {
    width: 220px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin: 0px auto;
    padding-left: 30px;
    /* border: 4px solid green; */
}

.nav-menus-icon-follow {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menus-icon-youtube {
    width: 33.916px;
    height: 24px;
    fill: #F61C0D;
    /* padding-right: 10px; */
}

.nav-menus-icon-ikok {
    width: 24px;
    height: 24px;
    color: #08FFF9;
}

.nav-menus ul li a {
    text-decoration: none;
}

.nav-menus ul li {
    list-style: none;
}

.nav-menus-icon li a {
    text-decoration: none;
}

.nav-menus-icon {
    list-style: none;
    align-items: center;
}

.nav-menus-icon {
    display: flex;
}


/* Responsive Media @media screen Query codes Start here  */
/* Responsive Media @media screen Query codes Start here  */

/*All Mobile responsive code goes here */
/*All Mobile responsive code goes here */


/* All Mobile responsive code ends here */

/* All Tablet responsive code Starts here */
/* All Tablet responsive code Starts here */

/* All Tablet responsive code ends here */

/* Responsive Media @media screen Query codes End here  */