@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* All Shared Styles code starts here */
/* All Shared Styles code starts here */
* {
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* All Shared Styles codes ends here */

/* styles related to nav */

main {
    width: 1920px;
    height: 5927px;
    /* background-color: #3C354F; */
    background-color: rgba(114, 11, 105, 0.062);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    /* margin: 0px auto; */
    /* margin-left: 10px; */
    /* margin-left: 240px; */
}

.heading {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    padding-left: 20px;
}

.gamer-img {
    width: 86.041px;
    height: 40px;
    color: #FFFFFF;
    /* margin: 44px 20px 46px 240px; */
    /* margin-left: 80px; */
}

.nav-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-right: 180px;
}

.nav-menus-about {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 54px 20px;
}

.nav-menus-developers {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menus-icon {
    width: 220px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin: 0px auto;
    padding-left: 30px;
    /* border: 4px solid green; */
}

.nav-menus-icon-follow {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menus-icon-youtube {
    width: 33.916px;
    height: 24px;
    fill: #F61C0D;
    /* padding-right: 10px; */
}

.nav-menus-icon-ikok {
    width: 24px;
    height: 24px;
    color: #08FFF9;
}

.nav-menus ul li a {
    text-decoration: none;
}

.nav-menus ul li {
    list-style: none;
}

.nav-menus-icon li a {
    text-decoration: none;
}

.nav-menus-icon {
    list-style: none;
    align-items: center;
}

.nav-menus-icon {
    display: flex;
}

/* banner section css codes start here */
/* banner section css codes start here */

.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* border: 4px solid green; */
    /* overflow: auto; */
}


.banner-section-div {
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.banner-head-parent {
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    margin-bottom: 40px;
    padding-bottom: 40px;
    max-width: 400px;

}

.banner-click-parent {
    padding-bottom: 20px;
    height: 100px;
    max-width: 400px;
    /* margin-bottom: 20px; */
}

.banner-h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 100px;
}

.banner-head {
    text-align: center;
    /* justify-items: center; */
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding-top: 40px; */
    margin-top: 0px;
    padding-bottom: 10px;
}

.banner-click-parent {
    margin-top: 20px;
    padding-top: 20px;
}

.banner-click {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    padding-top: 20px;
}

.banner-click-icon {
    width: 24px;
    height: 24px;
    color: #0B0223;
}

.banner-click-description {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: lowercase;
    padding-right: 145px;
    padding-top: 0px;
}


.banner-download {
    display: flex;
    align-items: center;
}

.banner-download-icon {
    width: 24px;
    height: 24px;
    /* flex-shrink: 0; */
}

.banner-download-description {
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
    padding-right: 200px;
}




.banner-supported-games {
    display: flex;
    align-items: center;
}

.banner-supported-games-icon {
    width: 24px;
    height: 24px;
    /* flex-shrink: 0; */
    color: #0B0223;
}

.banner-supported-games-description {
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}

.banner-sign-in {
    /* display: inline-flex; */
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    color: #FFF;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    text-transform: uppercase;
    border: #FFFFFF;
}

.banner-go-rogue {
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;

    color: #FFF;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
    text-transform: uppercase;
    color: #FFFFFF;
    border: #FFFFFF;
}

.banner-button {
    padding-bottom: 280px;
}

/* banner section css codes end here */


/* Funny Games css codes start here */
/* Funny Games css codes start here */

.funny-games-div {
    text-align: center;
    /* margin: 0px auto; */
}

.online-games-head {
    color: #0B0223;
    /* text-align: right; */
    /* font-family: Work Sans; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /* line-height: normal; */

    /* line-height: normal; */
}

.color-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: Work Sans; */
    font-size: 48px;
    /* font-style: normal; */
    font-weight: 700;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-top: 10px;
    margin-top: 5px;
}

.funny-games-image {
    display: flex;
    justify-content: center;
    /* align-items:flex-start; */
    /* margin: 10px; */
}

.img1 {
    margin: 10px;
    width: 342px;
    height: 400px;
    /* flex-shrink: 0; */
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img2 {
    margin: 10px;
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img3 {
    margin: 10px;
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img4 {
    margin: 10px;
    width: 342px;
    height: 400px;
    /* flex-shrink: 0; */
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.funny-games-image-description {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-justify: auto; */
    /* text-align: center; */
    width: 1500px;
    margin: 0 auto;
}

.des1 {
    padding-left: 20px;
    margin-left: 80px;
    /* margin: 4px; */
    margin: auto;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    width: 342px;
}

.des2 {
    padding-right: 0px;
    margin-left: 10px;
    margin: auto;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 342px;
    /* 150% */
}

.des3 {
    margin-right: 60px;
    padding-right: 2px;
    margin: auto;
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: 30px;
    width: 244px;
    /* 150% */
}

.des4 {
    margin: auto;
    padding-right: 50px;
    width: 342px;
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

/* Play Instantly css codes start here */
/* Play Instantly css codes start here */
.play-instantly-class {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}

.play-heading {
    text-align: right;
    /* font-family: Work Sans; */
    font-size: 48px;
    /* font-style: normal; */
    font-weight: 700;
    line-height: 60px;
    /* 125% */

    color: #0B0223;
    /* font-family: Work Sans; */
    font-size: 48px;
    /* font-style: normal; */
    /* font-weight: 700;
    line-height: 60px; */
}

.play-color {
    background: #F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play-description {
    width: 353px;
    color: #534C64;
    text-align: right;
    /* font-family: Work Sans; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.play-image-div{
    position: relative;
}

.play-girl-image{
    position: relative;
    /* padding-left: 150px; */
    /* left: 50px; */
    /* margin-left: 150px; */
    left: 120px;
    top: 50px;
    z-index: 1;

}
.play-boy-image{
    position: relative;
}

/* Play Instantly css codes end here */


/* Funny Games css codes end here */


/* Responsive Media @media screen Query codes Start here  */
/* Responsive Media @media screen Query codes Start here  */

/*All Mobile responsive code goes here */
/*All Mobile responsive code goes here */


/* All Mobile responsive code ends here */

/* All Tablet responsive code Starts here */
/* All Tablet responsive code Starts here */

/* All Tablet responsive code ends here */

/* Responsive Media @media screen Query codes End here  */