@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* All Shared Styles code starts here */
/* All Shared Styles code starts here */
* {
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* All Shared Styles codes ends here */

/* styles related to nav */

main {
    width: 1920px;
    /* height: 5927px; */
    /* background-color: #3C354F; */
    background-color: rgba(114, 11, 105, 0.062);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    /* margin: 0px auto; */
    /* margin-left: 10px; */
    /* margin-left: 240px; */
}

.heading {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    padding-left: 20px;
}

.gamer-img {
    width: 86.041px;
    height: 40px;
    color: #FFFFFF;
    /* margin: 44px 20px 46px 240px; */
    /* margin-left: 80px; */
}

.nav-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-right: 180px;
}

.nav-menus-about {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 54px 20px;
}

.nav-menus-developers {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menus-icon {
    width: 220px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin: 0px auto;
    padding-left: 30px;
    /* border: 4px solid green; */
}

.nav-menus-icon-follow {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
}

.nav-menus-icon-youtube {
    width: 33.916px;
    height: 24px;
    fill: #F61C0D;
    /* padding-right: 10px; */
}

.nav-menus-icon-ikok {
    width: 24px;
    height: 24px;
    color: #08FFF9;
}

.nav-menus ul li a {
    text-decoration: none;
}

.nav-menus ul li {
    list-style: none;
}

.nav-menus-icon li a {
    text-decoration: none;
}

.nav-menus-icon {
    list-style: none;
    align-items: center;
}

.nav-menus-icon {
    display: flex;
}

/* banner section css codes start here */
/* banner section css codes start here */

.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* border: 4px solid green; */
    /* overflow: auto; */
}


.banner-section-div {
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.banner-head-parent {
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    margin-bottom: 40px;
    padding-bottom: 40px;
    max-width: 400px;

}

.banner-click-parent {
    padding-bottom: 20px;
    height: 100px;
    max-width: 400px;
    /* margin-bottom: 20px; */
}

.banner-h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 100px;
}

.banner-head {
    text-align: center;
    /* justify-items: center; */
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding-top: 40px; */
    margin-top: 0px;
    padding-bottom: 10px;
}

.banner-click-parent {
    margin-top: 20px;
    padding-top: 20px;
}

.banner-click {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    padding-top: 20px;
}

.banner-click-icon {
    width: 24px;
    height: 24px;
    color: #0B0223;
}

.banner-click-description {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: lowercase;
    padding-right: 145px;
    padding-top: 0px;
}


.banner-download {
    display: flex;
    align-items: center;
}

.banner-download-icon {
    width: 24px;
    height: 24px;
    /* flex-shrink: 0; */
}

.banner-download-description {
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
    padding-right: 200px;
}




.banner-supported-games {
    display: flex;
    align-items: center;
}

.banner-supported-games-icon {
    width: 24px;
    height: 24px;
    /* flex-shrink: 0; */
    color: #0B0223;
}

.banner-supported-games-description {
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}

.banner-sign-in {
    /* display: inline-flex; */
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    color: #FFF;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    text-transform: uppercase;
    border: #FFFFFF;
}

.banner-go-rogue {
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;

    color: #FFF;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
    text-transform: uppercase;
    color: #FFFFFF;
    border: #FFFFFF;
}

.banner-button {
    padding-bottom: 280px;
}

/* banner section css codes end here */


/* Funny Games css codes start here */
/* Funny Games css codes start here */

.funny-games-div {
    text-align: center;
    /* margin: 0px auto; */
}

.play-button-over-image {
    position: relative;
    display: inline-block;
    text-align: start;
}

.play-button-div {
    /* display: flex; */
    /* position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    /* height: 80px; */
    /* background-image: url(downloadedimage/play-button\ 1.svg); */
    background-size: cover;
    width: 48px;
    /* height: 48px; */
    /* flex-shrink: 0; */
}

.play-button {
    background: #FF42A5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
}

.play-button:hover {
    cursor: pointer;
    opacity: .7;
    border-radius: 4px;
    /* border: 2px solid #FF42A5 ; */
}

.play-button-image:hover {
    cursor: pointer;
    opacity: 0.8;
}

.online-games-head {
    color: #0B0223;
    /* text-align: right; */
    /* font-family: Work Sans; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /* line-height: normal; */

    /* line-height: normal; */
}

.color-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: Work Sans; */
    font-size: 48px;
    /* font-style: normal; */
    font-weight: 700;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-top: 10px;
    margin-top: 5px;
}

.funny-games-image {
    display: flex;
    justify-content: center;
    /* align-items:flex-start; */
    /* margin: 10px; */
}

.img1 {
    margin: 10px;
    width: 342px;
    height: 400px;
    /* flex-shrink: 0; */
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img2 {
    margin: 10px;
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img3 {
    margin: 10px;
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img4 {
    margin: 10px;
    width: 342px;
    height: 400px;
    /* flex-shrink: 0; */
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.funny-games-image-description {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-justify: auto; */
    /* text-align: center; */
    width: 1500px;
    margin: 0 auto;
}

.des1 {
    /* padding-left: 20px; */
    margin-left: 80px;
    /* margin: 4px; */
    margin: auto;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    width: 342px;
}

.des2 {
    padding-right: 0px;
    margin-left: 10px;
    margin: auto;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 342px;
    /* 150% */
}

.des3 {
    margin-right: 60px;
    padding-right: 2px;
    margin: auto;
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: 30px;
    width: 244px;
    /* 150% */
}

.des4 {
    margin: auto;
    /* padding-right: 50px; */
    width: 342px;
    color: #534C64;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

/* Play Instantly css codes start here */
/* Play Instantly css codes start here */
.play-instantly-class {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}

.play-heading {
    text-align: right;
    /* font-family: Work Sans; */
    font-size: 48px;
    /* font-style: normal; */
    font-weight: 700;
    line-height: 60px;
    /* 125% */

    color: #0B0223;
    /* font-family: Work Sans; */
    font-size: 48px;
    /* font-style: normal; */
    /* font-weight: 700;
    line-height: 60px; */
}

.play-color {
    background: #F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play-description {
    width: 353px;
    color: #534C64;
    text-align: right;
    /* font-family: Work Sans; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.play-image-div {
    position: relative;
}

.play-girl-image {
    position: relative;
    /* padding-left: 150px; */
    /* left: 50px; */
    /* margin-left: 150px; */
    left: 160px;
    top: 90px;
    z-index: 1;
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

.play-boy-image {
    position: relative;
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

/* Play Instantly css codes end here */



/* Play Games Online codes start here */
/* Play Games Online codes start here */

.play-games {
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    /* text-align: center; */
    margin-top: 180px;
}

.play-games-image-div {
    position: relative;
}

.play-games-boy-image {
    width: 710px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -18.568px / 100% 146.779% no-repeat;
    position: relative;
}

.play-games-girl-image {
    width: 318px;
    height: 365px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    z-index: 1;
    right: 180px;
    top: 150px;
    position: relative;
}

.play-games-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-description {
    width: 483px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.funny-games-image-and-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Play Games Online codes end here */




/* different types of games codes start here */
/* different types of games codes start here */


.different-types-games {
    max-width: 1500px;
    /* display: flex; */
    margin: 200px auto;
    /* flex-wrap: wrap; */
}

.different-games-div {
    /* margin-top: 450px; */
    /* margin-left: 150px; */
    display: flex;
    max-width: 1380px;
    /* height: 200px; */
    justify-content: space-evenly;
    /* align-items: self-start; */
    flex-wrap: wrap;
    margin: 50px auto;
}

/* games icon and text making side by side using flex and taking two div */

.action-games-div {
    display: flex;
    margin: 10px;
    /* border-radius: 3px solid blue; */
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.action-games-div:hover {
    cursor: pointer;
    opacity: .8;
    color: yellow;
    background-color: yellowgreen;
}

.adventure-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.adventure-games-div:hover {
    cursor: pointer;
    opacity: .7;
    background-color: yellow;
}


.arcade-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.arcade-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: violet;
}

.educational-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.educational-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: indigo;
}

.word-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.word-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: blueviolet;
}

.role-playing-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.role-playing-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: greenyellow;
}

.music-audio-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.music-audio-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: orange;
}

.puzzle-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.puzzle-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: royalblue;
}

.strategy-games-div {
    display: flex;
    margin: 10px;
    border: 2px solid #F948B2;
    border-radius: 50px;
}

.strategy-games-div:hover {
    cursor: pointer;
    opacity: .8;
    background-color: olive;
}

.act-img1 {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.act-p1 {
    color: #0B0223;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
}

.act-img2 {
    width: 60px;
    height: 60px;
    /* flex-shrink: 0; */
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.act-p2 {
    color: #0B0223;
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
}

.act-img3 {
    width: 60px;
    height: 60px;
    /* flex-shrink: 0; */
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}

.act-p3 {
    /* font-family: Work Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.act-img4 {
    width: 60px;
    height: 60px;
    /* flex-shrink: 0; */
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


/* Footer section code goes here */
/* Footer section code goes here */

footer {
    background-color: #0B0223;
    margin-bottom: 20px;
    height: 550px;
}

.footer-heading {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    padding-top: 70px;
}

.g-typo-color {
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.amer-color {
    color: #FFF;
    /* font-family: Work Sans; */
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-image {
    margin-right: 20px;
    width: 86.041px;
    height: 40px;
    /* flex-shrink: 0; */
}

.about-footer {
    display: flex;
    color: white;
    justify-content: space-evenly;
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    color: #FFF;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
}

.footer-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    margin: 40px auto;

}

.footer-terms {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* color: white; */
    max-width: 700px;
    margin: 40px auto;
    color: rgba(255, 255, 255, 0.60);
    /* text-align: center; */
    /* font-family: Work Sans; */
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 500;
    /* line-height: normal; */

}

.copyright-description {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 500;
    /* line-height: normal; */
}

/* Footer section code ends here */



/* different types of games codes end here */
/* Funny Games css codes end here */


/* Responsive Media @media screen Query codes Start here  */
/* Responsive Media @media screen Query codes Start here  */

/*All Mobile responsive code goes here */
/*All Mobile responsive code goes here */


/* All Mobile responsive code ends here */

/* All Tablet responsive code Starts here */
/* All Tablet responsive code Starts here */

/* All Tablet responsive code ends here */

/* Responsive Media @media screen Query codes End here  */